@import '~antd/dist/antd.less';

@tablet:~"only screen and (min-width: 768px) and (max-width:1024px)";
@desktop:~"only screen and (min-width: 1025px)";

// mobile
#map_container { height: 70vh; width:100%; min-width: 300px; max-width: 100%}

@media @tablet {
  #map_container { height: 70vh; width:100%; min-width: 300px; max-width: 100%}
}
  
@media @desktop {
    #map_container { height:70vh; width:100%; min-width: 300px; max-width: 100%}
  }



  .svg {
    height: 40px;
  }


  .region_flag {
    height: 120px;
  }

  .regionInfo {
    transition: .5s ease-in;
  }


  .graph_container {
    height: 70vh;
  }


  // graph bar
  #root > div > div > div:nth-child(5) > div > div:nth-child(2) {
    display: none;
  }


  .ant-picker-dropdown {
    left: 0px !important;
    margin: 50px !important;
  }

  @media @tablet {
    #root > div > div > div:nth-child(5) > div > div:nth-child(2) {
      display: inline;
    }

   .ant-picker-dropdown {
    margin: 0px !important;
    left: 44% !important;
  }

}

  @media @desktop {
    #root > div > div > div:nth-child(5) > div > div:nth-child(2) {
      display: inline;
    }

   .ant-picker-dropdown {
    margin: 0px !important;
    left: 44% !important;
  }


}



