@import '~antd/dist/antd.less';


@tablet:~"only screen and (min-width: 768px) and (max-width:1024px)";
@desktop:~"only screen and (min-width: 1025px)";

// mobile
#map_container { height: 70vh; width:100%; min-width: 300px; max-width: 100%}

@media @tablet {
  #map_container { height: 70vh; width:100%; min-width: 300px; max-width: 100%}
}
  
@media @desktop {
    #map_container { height:70vh; width:100%; min-width: 300px; max-width: 100%}
  }



  .svg {
    height: 40px;
  }



  .region_flag {
    height: 120px;
  }

  @keyframes rollout {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .roll-out {
    animation: .4s rollout;
  }